*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.row:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row{ 
    display: inline-block; 
}
* html .row{
    height: 1%; 
}
.row{ 
    display: block; 
}
header{
    margin-bottom: 10px;
}
.inner-header{
    
    width: 100%;
    background: #1a191d;
    height: 60px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 100px;
    
}
.logo{
    float: left;
}
.content{
    width: 70%;
    float: left;
}
.inner-content{
    background: #1a191d;
    min-height: 500px;
}
.sidebar{
    width: 30%;
    float: left;
    padding-left: 10px;
}
.inner-sidebar{
    background: #1a191d;
    min-height: 500px;
}
footer{
    margin-top: 10px;
}
.inner-footer{
    background: #1a191d;
    height: 200px;
}
.dws-menu,.log{float: left;}
.dws-menu ul,
.dws-menu ol,
.log ul,
.log ol{
    list-style: none;
}
.dws-menu> ul,.log> ul{
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
}
.dws-menu> ul li a,.log> ul li a{
    display: block;
    padding: 15px 20px 15px 20px;
    font-size: 14px;
    color: #ECF7F7;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.dws-menu>ul li,.log>ul li{
    position: relative;
}
.search{
    float: left;
    margin-top: 7px;
}
.search>input{
    position: relative;
    display: inline-block;
}
.search>input[type="text"]{
    background: #ECF7F7;
    width: 230px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 15px;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}
.search>input[type="submit"]{
    position: relative;
    background: #f2982f;
    height: 30px;
    left: -5px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 14px;
}
.log{
    margin-left: 100px;
}
